[flake8]

# Do not expect extensive documentation in tests
per-file-ignores =
    ./tests/*:D100,D101,D102,D103,

exclude =
    .tox,
    .git,
    locale,
    docs,
    tools,
    venv,
    *.pyc,
    .git,
    __pycache__,
    test_*.py

max-line-length = 120